<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>  
    <ion-title>account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page-content" *ngIf="user">
    <ion-avatar>
      <img [src]="user.photoURL ? user.photoURL : 'assets/img/avatar.png'" alt="">
    </ion-avatar>
    <ion-text>
      <h4>{{user.displayName}}</h4>
    </ion-text>
    <ion-button (click)="logout()">
      cerrar sesión
    </ion-button>
  </div>
</ion-content>
