<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="pageTexts">{{pageTexts.titleFormStore}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="page-content">
    <div class="form-page" *ngIf="pageTexts && formMessages"> 
      <form novalidate class="register-form" [formGroup]="form">
        <div>
          <ion-item class="form-field">
            <ion-label class="field" position="stacked">{{pageTexts.name}}
              <span class="required">*</span>
            </ion-label>
            <ion-input class="ion-text-capitalize" type="text" formControlName="name"></ion-input>
          </ion-item>
          <div *ngIf="nameField.errors && nameField.touched">
            <ion-text class="form-error" color="danger" *ngIf="nameField.hasError('required')">
                <ion-icon name="alert-circle-outline"></ion-icon>
                <span>{{formMessages.requiredField}}</span>
            </ion-text>
          </div>
        </div>
        <div class="form-field">
          <ion-item>
            <ion-label class="field" position="stacked">{{pageTexts.nit}}
              <span class="required">*</span>
            </ion-label>
            <ion-input type="number" formControlName="nit"></ion-input>
          </ion-item>
          <div *ngIf="nitField.errors && nitField.touched">
            <ion-text class="form-error" color="danger" *ngIf="nitField.hasError('required')">
                <ion-icon name="alert-circle-outline"></ion-icon>
                <span>{{formMessages.requiredField}}</span>
            </ion-text>
            <ion-text class="form-error" color="danger" *ngIf="nitField.hasError('min')">
              <ion-icon name="alert-circle-outline"></ion-icon>
              <span>{{formMessages.nitMinLength}}</span>
            </ion-text>
            <ion-text class="form-error" color="danger" *ngIf="nitField.hasError('max')">
              <ion-icon name="alert-circle-outline"></ion-icon>
              <span>{{formMessages.nitMaxLength}}</span>
            </ion-text>
          </div>
        </div>

        <div *ngIf="currentLatitude && currentLongitude">
          <here-map 
            (location)="getLocation($event)"
            [currentLatitude]="currentLatitude"
            [currentLongitude]="currentLongitude"
            [addressText]="pageTexts.address"
            [validateBtnText]="pageTexts.validateButton"
            [requiredText]="formMessages.requiredField">
          </here-map>
        </div>

        <div class="form-field">
          <ion-item>
            <ion-label class="field" position="stacked">{{pageTexts.mobile}}</ion-label>
            <ion-input type="number" formControlName="cellPhone"></ion-input>
          </ion-item>
        </div>
        <div class="form-field">
          <ion-item>
            <ion-label class="field" position="stacked">{{pageTexts.phone}}</ion-label>
            <ion-input type="number" formControlName="localPhone"></ion-input>
          </ion-item>
        </div>
        <ion-button
          type="submit"
          class="form-store-btn ion-margin-top"
          (click)="createStore()" 
          expand="block" 
          fill="outline">{{pageTexts.createStoreButton}}</ion-button>
      </form>
    </div>
  </div>
</ion-content>

