.page-content {
  display: flex;
  justify-content: center;
}
.form-page {
  width: 100%;
  max-width: 400px;

  ion-text {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 2rem;

    ion-label {
      font-weight: 700;
      padding: .5rem;
      font-size: 1.1rem;
    }
  }
}