<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>  
    <ion-title>Store</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <div class="not-store">
    <p>Ingresa los datos de tu ferreteria</p>
    <ion-button routerLink="/form-store" fill="outline">
      <ion-icon slot="start" name="clipboard"></ion-icon>
      click
    </ion-button>
  </div>
</ion-content>
