* {
  font-family: Abel;
}
.not-store {
  display: flex;
  align-items: center;
  flex-direction: column;
  p {
    color: var(--ion-color-medium);
    font-size: 1.1rem;
  }
}
.page-store {

  .store-img {
    display: flex;
    flex-direction: column;
    align-items: center;

    ion-avatar {
      width: 150px;
      height: 150px;
    }

    h2 {
      font-size: 1.7rem;
      color: var(--ion-color-primary);
      text-transform: uppercase;
      letter-spacing: 1.1px;
      font-weight: 700;
    }
  }

  .store-info {
    padding: 0.5rem 1rem;
    border-radius: .5rem;
    border: 1px solid rgb(224, 220, 220);
    width: 100%;
    max-width: 600px;
  }
  ion-text {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    ion-icon {
      color: var(--ion-color-medium);
      margin-right: .6rem;
    }
    ion-label {
      color: var(--ion-color-medium);
    }
  }
  .cell,
  .phone {
    display: inline-flex;
  }

  .add-product {
    font-size: 1rem;
    margin-top: 1.5rem;
  }

  .product-title,
  .product-info {
    font-size: 1rem;
    text-transform: capitalize;
  }
}