<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="map">
      <ion-icon name="map-outline"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chat">
      <ion-icon name="chatbox-ellipses-outline"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
<ion-content class="ion-padding" *ngIf="pageTexts && !emailVerified">
  <div class="pageContent" >
    <div class="email-verified">
      <ion-text *ngIf="sendEmail">
        <span>{{msgSendText}}</span>
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-text>
      <ion-text *ngIf="!sendEmail">
        <span>{{msgValidateText}}</span>
        <ion-icon name="mail-outline"></ion-icon>
      </ion-text>
      <div class="email-verified-buttons">
        <ion-button class="email-verified-btn" (click)="sendVerificationEmail()">
          {{sendMsgBtnText}}
        </ion-button>
        <ion-button (click)="refresh()">
          {{refreshBtnText}}
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>