<ion-header>
  <ion-toolbar>
    <ion-title>ally</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="loginService.user | async as user">
    <ion-text 
      class="ion-text-uppercase ion-text-center email-verified" 
      color="secondary" 
      *ngIf="!user.emailVerified">
      <span>Verifica email, por favor</span>
      <ion-icon name="mail-outline"></ion-icon>
    </ion-text>
  </div>
  <ion-button (click)="signOut()">
    sign out
  </ion-button>
</ion-content>